{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="span9">
		<div class="row">
			<div class="span3">
				<div class="well">
					Redes Sociales
				</div>
			</div>
			<div class="span2">
				<div class="well">
					SEO SEM
				</div>
			</div>
			<div class="span2">
				<div class="well">
					e-Marketing
				</div>
			</div>
			<div class="span2">
				<div class="well">
					Reputación O.
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="span6">
				<div class="well">
					<h2>Youtube</h2>
				</div>
			</div>
			<div class="span3">
				<div class="well">
					Proyectos
				</div>
			</div>
		</div>
		
		<div class="well">
			<h4>Recetas de marketing</h4>
		</div>
		
		<div class="well">
			Testimonios
		</div>
		
	</div>
	<div class="span3">
		<div class="row">
			<div class="span1">
				<img src="http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/64/facebook.png" width="60px">
			</div>
			<div class="span1">
				<img width="60px" src="http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/64/twitter.png">
			</div>
			<div class="span1">
				<img width="60px" src="http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/64/rss.png">
			</div>
		</div>
		
		<br>
		
		<div class="well">
			<h1>Curso</h1>
		</div>
		<div class="well">
			Newsletter
		</div>
		<div class="well">
			Twits
		</div>
		<div class="well">
			Publicidad
		</div>
	</div>
</div>

{% endblock content %}
